.decorations{

    display:flex;

    flex-direction:column;

    gap:18px;

    width:100%;

    margin-top:20px;

}

.header{

    display:flex;

    align-items:center;

    justify-content:center;

}

.header h3{

    margin:0;

    font-size:1.00rem;

    letter-spacing:.30em;

    color:#b7c2b4;

    font-weight:700;

    text-transform:uppercase;

}

.content{

    display:flex;

    flex-direction:column;

    gap:14px;

}