/**
 * ============================================
 * BloodyArmy
 * ============================================
 *
 * Project:
 * BloodyArmy Website
 *
 * Component:
 * DecorationRow
 *
 * Version:
 * MK-II
 *
 * ============================================
 */

.row{

    display:flex;

    flex-wrap:wrap;

    align-items:flex-start;

    gap:14px;

    padding:0 18px 18px;

}