/**
 * ============================================
 * BloodyArmy
 * ============================================
 *
 * Project:
 * Service Record Framework
 *
 * Component:
 * Layout
 *
 * Version:
 * MK-II
 *
 * ============================================
 */

.layout {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}